<div class="row" id="carouselMain">
    <div id="loginCarousel" class="col-lg-9 col-md-9 col-sm-12 col-xs-12 carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#loginCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#loginCarousel" data-slide-to="1"></li>
          <li data-target="#loginCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active" id="slide1">
            <div class="carousel-caption">
              Suzhou, China
            </div>
          </div>
          <div class="item" id="slide2">
            <div class="carousel-caption">
              Texas, USA
            </div>
          </div>
          <div class="item" id="slide3">
            <div class="carousel-caption">
              London, United Kindom
            </div>
          </div>
        </div>
      
        <!-- Controls -->
        <a class="left carousel-control" href="#loginCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#loginCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
    
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" id="signUpPanel">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><b>Sign Up</b></h3>
                <h5>It's free and always will be.</h5>
            </div>
            <div class="panel-body">
               <%= form_for :user, url:users_path, html:{class:"form-group"} do |f| %>
                  <%= render 'shared/error_messages' %>
                  <%= f.label :name, "Name:", class: 'control-label' %>
                  <div id='name' class='form-inline'>
                    <%= f.text_field :firstname, class: 'form-control', placeholder:"First name" %>
                    <%= f.text_field :lastname, class: 'form-control', placeholder:"Last name" %>
                  </div>
                  
                  <%= f.label :email, "Email:", class: 'control-label' %>
                  <%= f.email_field :email, class: 'form-control', placeholder:"Your email address" %>
                  
                  <%= f.label :password, "Password:", class: 'control-label' %>
                  <%= f.password_field :password, class: 'form-control', placeholder:"123456" %>
                  
                  <%= f.label :password_confirmation, "Confirm password:", class: 'control-label' %>
                  <%= f.password_field :password_confirmation, class: 'form-control', placeholder:"123456" %>
            
                  <%= f.label :date_of_birth, "Date of birth:", class: 'control-label' %>
                  <%= f.date_field :date_of_birth, value: Date.new(1984, 1, 27), class:'form-control' %>
                  
                  <%= f.label :gender, "Gender:", class: 'control-label' %>
                  <div class="controls form-inline">
                    <%= f.radio_button :gender, 1 %>
                    <%= f.label :gender_1, "Male" %>
                    <%= f.radio_button :gender, 0 %>
                    <%= f.label :gender_0, "Female" %>
                  </div>
                  <br/>
                  
                  <%= f.label :safe_question, "Safe question:", class: 'control-label' %>
                  <%= f.select :safe_question, ['Which city were you born?', 'What\'s the name of your first pet?', 'What\'s your favorite color?'], {}, { class:'form-control'} %>
                  
                  <%= f.label :safe_answer, "Safe answer", class: 'control-label' %>
                  <%= f.text_field :safe_answer, class: 'form-control', placeholder:"Example: Beijing" %>
                  <br/>
                  
                  <%= f.submit "Sign Up", class: "btn btn-lg btn-primary btn-block" %>
                <% end %>
            </div>
        </div>
    </div>
</div>
