<div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        
                       <%= form_tag action: "is_login", method: "post" do %>
                          <%= field_set_tag do %>
                              <div class="form-group">
                                  <%= text_field_tag :email, nil, class:"form-control", placeholder:"E-mail" %>
                              </div>
                              <div class="form-group">
                                  <%= text_field_tag :passwd, nil, class:"form-control", placeholder:"Password" %>
                              </div>
                              <div class="checkbox">
                                  <%= label_tag 'remember' do %>
                                      <%= check_box_tag :remember, "Remember Me" %>Remember Me
                                  <% end %>
                              </div>
                              <%= submit_tag "Login", class:"btn btn-lg btn-success btn-block" %>
                          <% end %>
                        <% end %>
                        
                        <!--<form role="form" action="/index/is_login" method="post">-->
                        <!--    <fieldset>-->
                        <!--        <div class="form-group">-->
                        <!--            <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus>-->
                        <!--        </div>-->
                        <!--        <div class="form-group">-->
                        <!--            <input class="form-control" placeholder="Password" name="password" type="password" value="">-->
                        <!--        </div>-->
                        <!--        <div class="checkbox">-->
                        <!--            <label>-->
                        <!--                <input name="remember" type="checkbox" value="Remember Me">Remember Me-->
                        <!--            </label>-->
                        <!--        </div>-->
                                <!-- Change this to a button or input when using this as a form -->
                        <!--        <input class="btn btn-lg btn-success btn-block" type="submit" value="Login"/>-->
                        <!--    </fieldset>-->
                        <!--</form>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
            </div>
    <!-- /#wrapper -->
</body>
</html>
