<div class="navbar navbar-default navbar-fixed-top" style="" draggable="true">
	<div class="container">
        <div class="navbar-header">
          <%= link_to image_tag("logo_1_3756768155.gif", alt: "Logo" ), '#', class:'navbar-brand' %>
        </div>
        <%= form_for :session, url: login_path, :html => {class: "navbar-form navbar-right", role:"login", id:'loginForm'} do |f| %>

              <div class="form-group">
              <% if flash[:danger] %>
                <div class="alert alert-danger pull-left" id="login-error"><%= flash[:danger] %></div>
              <% end %>
              <%= f.label :email, 'Email', class:"control-label" %>
              <%= f.email_field :email, class: 'form-control', placeholder:"john@gmail.com" %>
              <%= f.label :password, 'Password', class:"control-label" %>
              <%= f.password_field :password, class: 'form-control', placeholder:"Password" %>
              </div>
            <%= f.submit "Log in", class: "btn btn-primary" %>
            <%= f.label :remember_me, class: "checkbox inline" do %>
              <%= f.check_box :remember_me %>
              <span>Remember me?</span>
            <% end %>
        <% end %>
	</div><!-- end container -->
</div><!-- end navbar -->